/* not in use
.sticky {
  position: sticky;
  top: 0;
  background-color: gray;
  padding: 5px;
  padding-top: 10px;
  z-index:999;
  border: 1px solid #212121;
  box-shadow: 5px 5px 5px #404040;
}
*/

/* simple footer to style with a <div>id="site-footer"</div> */
#site-footer {
  margin-top: 50px; /* space between content and footer */
	background: primary center no-repeat; 
	border-top: 3px solid black;
	text-align: left;
	vertical-align: middle;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
  padding-top: 25px; 
  padding-bottom: 5%; 
  padding-left: 5%;
  box-shadow: 0 50vh 0 50vh $secondary; /*#375a7f; */
}

/* my face in upper right */
#face-img {
  border-radius: 70%;
  border: 1px solid #ddd;
  padding: 3px;
  margin-left: 10px;
  width:50px; /* you can use % */
  height: auto;
}  

/* datatable selected */
table.dataTable tr.selected td, table.dataTable td.selected {
	background-color: gray !important;
	}

/* horizontal line 
this is not taking effect...
*/
hr {
  width: 90%;
  margin: auto;
  height: 5px;
  background-color: orange;
}

.add {
  background-color: green;
}
.edit {
  border-style: solid;
  border-color: #ff7518;
  border-width: 4px;
  /* background-color: #d0c900ad a light yellow */
}
.delete {
  border-style: solid;
  border-color: #ff0039;
  border-width: 4px;
  /* background-color: #d00000a3; */
}
.btn-danger:hover, .btn-warning:hover, .btn-success:hover {
  background-color: #090909; 
  color: white;
}

/* style ccustom error messages */
.shiny-output-error-validation {
  font-size: 180%;
  font-weight: bold;
  text-align: center;
}